<form action="/favourites" method="POST">
                <button
                  class="bg-[#FF385C] hover:bg-[#E31C5F] mt-4 text-white font-semibold tracking-wide py-2 px-5 rounded-lg shadow-md hover:shadow-lg hover:scale-105 transition duration-200 flex items-center gap-2">
                  Add to Favourites
                </button>
                <input type="hidden" name="id" value="<%= home.id %>">
              </form>